/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles begin*/
/*Global styles being*/
body{font-family:'Playfair Display','Arial','Helvetica','Roboto', sans-serif; font-size:min(max(0.8em, 1.2vw), 1.2em);} /*min(max(minimum value, responsive value), maximum value)*/
p{font-family: Lato;font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;text-align: justified;}
h1{font-family: Playfair Display;font-size: 3em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h2{font-family: Playfair Display;font-size: 2.25em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h3{font-family: Playfair Display;font-size: 1.5em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h4{font-family: Lato;font-size: 0.875em;font-style: normal;font-weight: 500;line-height: 1.33em;letter-spacing: 0.16em;text-align: center;}
h5{font-family: Lato;font-size: 0.875em;font-style: normal;font-weight: 300;line-height: 1.33em;letter-spacing: 0.16em;text-align: center;}
h6{font-size:1.8em; line-height:1.8em; font-weight:bold; margin:0 0 0.8em 0;}
ul{margin:0 0 0.8em 0; font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;}
ul li{margin:0 0 0 2em;}
ol{margin:0 0 0.8em 0; font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;}
ol li{margin:0 0 0 2em;}
/*Global stlyes end*/

div.main_container{text-align:center;position:relative; padding:0; width:100%; background:#fff; margin:0 1vw;}
div.header{position:absolute; left:15vw; padding:2vw 0 0 0;}
svg.vogue_logo{width:12vw;margin:0 0 1vw 0;}
div.nav_links{display:flex; justify-content:space-between; width:70vw; font-family: Lato;font-size: 1em;font-style: normal;font-weight: 300;line-height: 1.88em;letter-spacing: 0.16em;text-align: center;}
div.content_container{margin:auto; display:inline;}
div.grid_container{position:absolute; top:5vw; left:50%; transform:translateX(-50%); display:grid; grid-template-columns:1fr 1fr 1fr; margin:5vw 1vw 0 1vw; grid-column-gap:0vw; width:100%;}
div.article_container{grid-column-start:1; grid-column-end:3; padding:0 0;}
