/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles begin*/
/*Global styles being*/
body{font-family:'Lato','Arial','Helvetica','Roboto', sans-serif; font-size:min(max(0.8em, 1.2vw), 1.2em);} /*min(max(minimum value, responsive value), maximum value)*/
p{font-family: Lato;font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;text-align: justified;}
h1{font-family: Playfair Display;font-size: 3em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h2{font-family: Playfair Display;font-size: 2.3em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h3{font-family: Playfair Display;font-size: 1.25em;font-style: normal;font-weight: 400;line-height: 1.33em;text-align: center;}
h4{font-family: Lato;font-size: 0.7em;font-style: normal;font-weight: 600;line-height: 1.33em;letter-spacing: 0.16em;text-align: center;}
h5{font-family: Lato;font-size: 0.7em;font-style: normal;font-weight: 300;line-height: 1.33em;letter-spacing: 0.16em;text-align: center;}
h6{font-size:1.8em; line-height:1.8em; font-weight:bold; margin:0 0 0.8em 0;}
ul{margin:0 0 0.8em 0; font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;}
ul li{margin:0 0 0 2em;}
ol{margin:0 0 0.8em 0; font-size: 1.125em;font-style: normal;font-weight: 400;line-height: 1.9em;letter-spacing: 0em;}
ol li{margin:0 0 0 2em;}
/*Global stlyes end*/

/*http://msu.exxite.hu/index01.html*/
body{padding:0; margin:0;}
body img{transition:transform 0.2s;}
body img:hover{transform:scale(1.01);}
div.main_container{position:relative; width:100%; background:#fff; margin:0 auto;}
div.header_container{border-bottom:1px solid #000;}
div.header{max-width:1200px; margin:0 auto; display:grid; grid-template-columns:2vw 1fr 2vw;}
div.header a{grid-column-start:2; grid-column-end:3;}
svg.vogue_logo{width:12vw;}
div.header_navigation_links{grid-column-start:2; grid-column-end:3; display:flex; justify-content:space-between; font-size: 1em;font-style: normal;font-weight:300; line-height:1.88em; letter-spacing:0.16em; text-align:center;}
div.body_container{min-height:400px;}
div.body_grid{display:grid; max-width:1200px; grid-template-columns:2vw 1fr 2vw; margin:0 auto;}
div.section_name{grid-column-start:2; grid-column-end:3; margin-top:2vw;}
div.layout_2-1{text-align:center; max-width:100%; padding:2vw 0 8vw 0; border-bottom:1px solid black; display:grid; grid-template-columns:2fr 1fr; grid-column-gap:2vw; grid-column-start:2; grid-column-end:3;}
div.small_link{min-height:100px; grid-column-start:2; grid-column-end:3; margin-bottom:2vw;}
div.small_link img,div.small_link h3,div.small_link h4,div.small_link h5{margin-bottom:.75em;}
div.medium_link{min-height:200px; grid-column-start:1; grid-column-end:2;}
div.medium_link img,div.medium_link h4,div.medium_link h5{margin-bottom:.75em;}div.medium_link h2{margin-bottom:.5em;}
div.medium_link_container{margin: 0 0 1em 0;}
div img{max-width:100%;}
@media only screen and (max-width: 700px) {
	div.layout_2-1{grid-template-columns:1fr;}
	div.small_link{grid-column-start:auto; grid-column-end:auto;}
	div.small_link_container{display:grid; grid-template-columns:1fr 1fr; grid-column-gap:2vw;}
	div.medium_link{grid-column-start:1; grid-column-end:3;}
}
div.article_container{grid-column-start:2; grid-column-end:4;}

@media only screen and (max-width: 600px) {
	div.article_container{grid-column-end:5;}}




/*div.content_container{margin:auto; display:grid; grid-template-columns:auto min(max(600px, 80vw), 1000px) auto;}
div.grid_container{display:grid; grid-template-columns:1fr 1fr 1fr; grid-column-start:2; grid-column-end:3; margin:5vw 1vw 0 1vw; grid-column-gap:0vw; width:100%;}
div.article_container{grid-column-start:1; grid-column-end:3; padding:0 0;}*/
